.to-ssl-management-table{
    width: 100%;
}
.to-ssl-management-table>tbody>tr.odd{
    background-color: #f6f6f6;
}
.to-ssl-management-table>thead>tr>th,.to-ssl-management-table>tbody>tr>td{
    padding: 10px;
}
.tag-w1{
    border: 1px solid #4CAF50;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: white;
    color: #4CAF50;
}
.tag-w5{
    border: 1px solid #FF9800;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 5px;
    background-color: white;
    color: #FF9800;
    margin-left: 5px;
}
.dataTables_wrapper .dataTables_info{
    background: #f6f7f8;
    border-bottom: 1px solid #e6e8ec;
    color: #7c8088;
    border-top: 1px solid #e6e8ec;
    border-left: 1px solid #e6e8ec;
    border-right: 1px solid #e6e8ec;
}
table.dataTable{
    border: 1px solid #e6e8ec;
    margin-top: 0 !important;
    border-top: none;
    margin-bottom: 0 !important;
    border-bottom: none;
}
.dataTables_wrapper .dataTables_length{
    border: 1px solid #e6e8ec;
}
.dataTables_wrapper .dataTables_filter label .form-control{
    border: 1px solid #e6e8ec;
}
.table>tbody>tr>th, .table>thead>tr>th, table>tbody>tr>th, table>thead>tr>th{
    height: 40px;
    padding: 10px 16px;
    position: relative;
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
    color: #7c8088;
    font-weight: 400;
    background: #fff;
}